.header {
  width: calc(100vw - 48px * 2);
  padding: 28px 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100vw - 24px * 2);
    padding: 28px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: calc(100vw - 16px * 2);
    padding: 16px 16px 0;
  }
}
